<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects :)</title>
    <link rel="stylesheet" href="../css/projects.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
   
    

    <div class="carousel">
       
        <div class="list">
          
       

            <div class="item">
                <img src="../assets/images/Register.png"">
                <div class="introduce">
                    <div class="title">04</div>
                    <div class="topic">Register</div>
                    <div class="des">
                        <!-- 20 lorem -->
                        This project uses APIs built with Express to manage a database, supporting all CRUD operations—create, read, update, and delete. It provides a streamlined interface for registering new entries, retrieving data, updating records, and removing items.
                    </div>
                    <button class="seeMore">SEE MORE &#8599</button>
                </div>
                <div class="detail">
                    <div class="title">Register</div>
                    <div class="des">
                        <!-- lorem 50 -->
                        This project involves creating a web application that utilizes APIs built with Express to manage data in a database. It supports all CRUD (Create, Read, Update, Delete) operations, allowing users to register new entries, retrieve existing data, update records, and delete items as needed. The Express framework facilitates seamless API interactions, handling requests and responses to perform these database operations efficiently. The application is designed to provide a robust and scalable solution for managing data through a straightforward and functional API interface.

                    </div>
                    <div class="specifications">
                        <div>
                            <p>Front-End</p>
                            <p>JavaScript</p>
                        </div>
                        <div>
                            <p>Back-End</p>
                            <p>Javascript</p>/p>
                        </div>
                        <div>
                            <p>Api</p>
                            <p>ExpressJS</p>
                        </div>
                        <div>
                            <p>Database</p>
                            <p>MongoDB</p>
                        </div>
                      
                    </div>
                    <div class="checkout">
                        <button>
                            <a href="">CHECKOUT</a></button>
                    </div>
                </div>
            </div>

            <div class="item">
                <img class="carrusel__img" src="../assets/images/cineCampus.png">
                <div class="introduce">
                    <div class="title">01</div>
                    <div class="topic">CINECAMPUS</div>
                    <div class="des">
                        <!-- 20 lorem -->
                        The project focuses on developing a system to manage a movie theater's operations. It includes a user-friendly interface for ease of use and simulates the entire ticket purchasing process, tracking details like occupied and purchased seats.
                    </div>
                    <button class="seeMore">SEE DETAILS &#8599</button>
                </div>
                <div class="detail">
                    <div class="title">CINECAMPUS</div>
                    <div class="des">
                        <!-- lorem 50 -->
                        The project involves creating a comprehensive system to manage a movie theater's operations. It features a user-friendly graphical interface for easy navigation and interaction. The system uses MongoDB and Node.js modules to handle data management and operations. APIs built with Node.js and Express simulate the entire ticket purchasing process, including tracking and updating information on occupied and purchased seats.
                    </div>
                    <div class="specifications">
                        <div>
                            <p>Database</p>
                            <p>MongoDB</p>
                        </div>
                        <div>
                            <p>Front-End</p>
                            <p>Javascript</p>
                        </div>
                        <div>
                            <p>Server-Side</p>
                            <p>NodeJs</p>
                        </div>
                        <div>
                            <p>APIs</p>
                            <p>ExpressJs</p>
                        </div>
                       
                    </div>
                    <div class="checkout">
                        <button >
                            <a href="https://github.com/Dannaardil/CineCampus">CHECKOUT</a></button>
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="../assets/images/spotify01.png">
                <div class="introduce">
                    <div class="title">02</div>
                    <div class="topic">SPOTIFY</div>
                    <div class="des">
                        <!-- 20 lorem -->
                        This project is based on the creation of a music player using JavaScript and the Spotify API. It will allow users to search for and play music via an iframe, as well as view album covers, titles, artists, and other relevant information about the songs.
                    </div>
                    <button class="seeMore">SEE MORE &#8599</button>
                </div>
                <div class="detail">
                    <div class="title">SPOTIFY</div>
                    <div class="des">
                        <!-- lorem 50 -->
                        This project involves creating a music player that allows users to search for and play music, view album covers, titles, artists, and other relevant song information. The development included work on both the front-end and back-end using JavaScript, along with HTML and CSS to enhance the user interface. An API and iframe from Spotify were used to display the music and related information.
                    </div>
                    <div class="specifications">
                        <div>
                            <p>FrontEnd</p>
                            <p>Javascript0</p>
                        </div>
                        <div>
                            <p>Back-End</p>
                            <p>JavaScript</p>
                        </div>
                        <div>
                            <p>Music-info</p>
                            <p>Spotify Api</p>
                        </div>
                        
                    </div>
                    <div class="checkout">
                        <button>
                            <a href="https://github.com/Dannaardil/Spotify">CHECKOUT</a></button>
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="../assets/images/encriptador1.png">
                <div class="introduce">
                    <div class="title">03</div>
                    <div class="topic">Encriptador</div>
                    <div class="des">
                        <!-- 20 lorem -->
                        Encriptador is a web application that allows users to encrypt and decrypt text using a custom algorithm. This project is built using Web Components, providing a modular and reusable solution for text encryption.
                    </div>
                    <button class="seeMore">SEE MORE &#8599</button>
                </div>
                <div class="detail">
                    <div class="title">Encriptador</div>
                    <div class="des">
                        <!-- lorem 50 -->
                        Encriptador is a responsive web application that securely encrypts and decrypts text using a custom algorithm. The interface, built with HTML and CSS, is designed to be user-friendly and accessible on various devices. JavaScript handles the encryption process on both the front-end and back-end, with Express managing API requests for smooth server-client communication. The application uses Web Components to create a modular and scalable structure, ensuring the system is both flexible and maintainable.
                    </div>
                    <div class="specifications">
                        <div>
                            <p>Front-End</p>
                            <p>JavaScript</p>
                        </div>
                        <div>
                            <p>Back-End</p>
                            <p>JavaScript</p>
                        </div>
                        <div>
                            <p>Api</p>
                            <p>ExpressJs</p>
                        </div>
                      
                    </div>
                    <div class="checkout">
                        <button>
                            <a href="https://github.com/Dannaardil/ExamenEncriptador">CHECKOUT</a></button>
                    </div>
                </div>
            </div>

           
           
        </div>
        <div class="arrows">
            <button id="prev"><i class="bi bi-caret-left-fill"></i></button>
            <button id="next"><i class="bi bi-caret-right-fill"></i></button>
            <button id="back">ALL &#8599</button>
            
        </div>
        <button  class="goBack">
            <a onclick="history.back()" href="../index.html">GO BACK</a>
        </button>
        
    </div>




    <script src="../js/utils.js" defer></script>
</body>
</html>